<!--Register Section start -->
<section id="register" class="container-lg">
   <div class="d-md-flex flex-md-equal w-100 pl-md-3">
      <div class="mr-md-3 overflow-hidden">
         <div class="py-3">
            <h3 class="display-5 section-title">Registration</h3>
         </div>
         <div class="mx-auto text-center bd-highlightpx-3">
            Please click on the following button to register yourself for the Hackathon
            <p class="my-3">  <a href="https://forms.gle/aVopwiwmRM35FXQT8" target="_blank"><button class="custom-btn btn-register"">Register</button> </a></p>
         </div>
      </div>
   </div>
</section>
<!--Register Section end -->
