<!--Resources Section start -->
<div id="top-logo-placeholder" class="container-sm">
   <div class="d-flex justify-content-center ">
      <div class="p-2 pt-4 pb-1">
         <a href="http://iitb.ac.in/" target="_blank">
         <img src="/cms/uploads/images/iitb-logo.png"  class="img-fluid logos" alt="IITB">
         </a>
      </div>
      <div class="p-2 pt-4 pb-1">
         <a href="https://fossee.in/" target="_blank">
         <img src="/cms/uploads/images/fossee-logo.png"
            class="img-fluid logos" alt="FOSSEE">
         </a>
      </div>
      <div class="p-2 pt-4 pb-1">
         <a href="http://www.rudra.iitb.ac.in/" target="_blank">
         <img src="/cms/uploads/images/rudra-logo.png"
            class="img-fluid logos" alt="Rudra">
         </a>
      </div>
      <div class="p-2 pt-4 pb-1">
         <a href="https://www.iittp.ac.in/" target="_blank"> 
         <img src="/cms/uploads/images/iit-tirupati.png" class="img-fluid logos" alt="IIT Tirupati">
         </a>
      </div>
      <div class="p-2 pt-4 pb-1">      
         <a href="https://iittnif.com/" target="_blank">
         <img src="/cms/uploads/images/navavishkaar.png" class="img-fluid logos" alt="IITTNiF">
         </a>
      </div>
      <div class="p-2 pt-4 pb-1">      
         <a href="https://nmicps.in/" target="_blank">
         <img src="/cms/uploads/images/NM-ICPS-logo1.png" class="img-fluid logos" alt="NMICPS">
         </a>
      </div>
      <div class="p-2 pt-4 pb-1">
         <a href="#" target="">
         <img src="/cms/uploads/images/icfoss-logo.png" class="img-fluid logos big-img" alt="icfoss" style="@media screen and (min-width:480px;){
            .big-img{
            width:20%;
            }
            }">
         </a>
      </div>
   </div>
</div>
<!--Resources Section end -->
